<div>
  {{ $pages := .Pages }}
  {{ if .IsHome }}
    {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ end }}
  {{ range (.Paginate $pages).Pages }}
  <div class="card mb-3" style="max-width: 740px;">
    <div class="row g-0">
      {{ with .Params.thumbnail }}
      <div class="col-md-4 text-center my-auto">
        <img src="{{ . }}" class="img-fluid rounded-start" alt="...">
      </div>
      {{ end }}
      {{ if .Params.thumbnail }}
      <div class="col-md-8">
      {{ else }}
      <div class="col-md-12">
      {{ end }}
        <div class="card-body">
          <a class="card-title" href="{{.Permalink}}"> {{ .Title }} </a>
          <p class="card-text">
            {{ if .Params.summary }}
              {{ .Params.summary }}
            {{ else if .Params.abstract }}
              {{ .Params.abstract }}
            {{ else }}
              {{ truncate 320 .Summary }}
            {{ end }}
          </p>
          <p class="card-text"><small class="text-muted">
            <i class="fa fa-calendar" style="font-size:1rem;"></i>
            {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) }}
          </small></p>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ template "_internal/pagination.html" . }}

</div>
{{ partial "sidebar.html" . }}