<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">{{ .Site.Params.logoName }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{ $currentPage := .}}
        {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
            </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>