:root {
    --bs-dark: #212529;
}
@font-face {
    font-family: metropolis;
    src: url("/fonts/metropolis.regular.otf") format("opentype");
}

body {
    background-color: #f2f2f2;
    font-family: metropolis, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-kerning: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-column-gap: 4rem;
}

.sidebar-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.tag-links {
    display: flex;
    gap: 0.3rem;

}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 100%;
    }
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/** bootstrap styles **/
.navbar {
    background-color: #002538 !important;
}

.nav-link {
    color: white !important;
}

.active {
    background-color: rgba(255,255,255,0.05);
    border-radius: 0.5rem;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.card {
    border: none;
}

.card-title {
    color: var(--bs-dark);
    text-decoration: none;
}

.card-body {
    color: #6c757d;
}

/* .card-text {
    margin-top: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
} */

.page-item {
    padding:0.2rem;
}

.page-item:first-child,
.page-item:last-child {
    display: none;
}

.page-item.disabled {
    opacity: 0.7;
}

.page-link {
    padding: 0.25rem 0.75rem;
    background-color: #0077b8;
    color: white;
    border-radius: 1rem;
}

.btn-primary {
    border: none;
    border-radius: 35px;
    background-color: rgba(0,119,184,0.15);
    color: #0077b8;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 0.8rem;
    padding: 0.2rem 0.8rem;
}

.btn_tally {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 35px;
    color: white;
    padding: 0rem 0.75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    background: #0077b8;
    margin: auto;
}







