:root {
    --bs-dark: #212529;
}
@font-face {
    font-family: metropolis;
    src: url("/fonts/metropolis.regular.otf") format("opentype");
}

html { 
  overflow-y: scroll; 
}

body {
    background-color: #f2f2f2;
    font-family: metropolis, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-kerning: normal;
}
/** bootstrap styles **/
.navbar {
    background-color: #002538 !important;
}

.nav-link {
    color: white !important;
}

.active {
    background-color: rgba(255,255,255,0.05);
    border-radius: 0.5rem;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.card {
    border: none;
}

.card-title {
    color: var(--bs-dark);
    text-decoration: none;
}

.card-body {
    color: #6c757d;
}

/* .card-text {
    margin-top: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
} */

.page-item {
    padding:0.2rem;
}

.page-item:first-child,
.page-item:last-child {
    display: none;
}

.page-item.disabled {
    opacity: 0.7;
}

.page-link {
    padding: 0.25rem 0.75rem;
    background-color: #0077b8;
    color: white;
    border-radius: 1rem;
}






