{{ $s := site.Params }}
<aside class="mb-5">
    {{- $tagsLimit := (default 30 $s.numberOfTagsShown) }}
    {{- range $key, $value := .Site.Taxonomies }}
        {{- if gt $value 0 }}
            <h2 class="mt-4">{{ $key }}</h2>
            <nav class="sidebar-links">
                {{- $slicedTags := ($value.ByCount |  first $tagsLimit) }}
                {{- range $slicedTags }}
                    <a href='{{ absLangURL $key }}/{{ (replace .Name "#" "%23") | urlize }}/' class="tag-links btn btn-primary" title="{{ .Name }}">
                        {{ upper .Name }}
                        <span class="btn_tally">{{ .Count }}</span>
                    </a>
                {{ end }}
            </nav>
        {{ end }}
    {{end}}

</aside>
