@font-face {
    font-family: metropolis;
    src: url("/fonts/metropolis.regular.otf") format("opentype");
}

body {
    font-family: metropolis, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-kerning: normal;
}
/** bootstrap styles **/
.navbar {
    background-color: #002538 !important;
}

.nav-link {
    color: white !important;
}

.active {
    background-color: rgba(255,255,255,0.05);
    border-radius: 0.5rem;
}

.nav-item {
    padding: 0.5rem 1rem;
}
