<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="container">
            {{- block "main" . }}{{- end }}
            {{- partial "footer.html" . -}}
            {{- partial "script-footer.html" -}}
        </div>
    </body>
</html>
