<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="container mt-5">
            <div class="grid-container">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
            {{- partial "script-footer.html" -}}
        </div>
    </body>
</html>
