{{ define "main" }}
<div class="post-container">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-body">
    {{ .Content }}
    </div>
</div>
{{- partial "sidebar.html" . -}}
{{ end }}